*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  height: 100vh;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 2%;
  width: 70%;
}

.logo{
  width: fit-content;
  height: 48px;
  align-self: baseline;
  margin-bottom: 30px;
}

.mockup{
  width: 400px;
  margin-bottom: 50px;
}

.left-bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-align: left;
}

.mobile{
  display: none;
}

.left-bottom div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 15px;
}

.left-bottom p{
  font-size: 14px;
  font-weight: 400;
  color: #353535;
}

.right{
  background: rgba(255, 242, 255, 1) url("./assets/icon/verifypattern.png") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  padding: 20px 30px;
  width: 70%;
  /* max-width: 400px; */
}

.flyover{
  display: none;
}

.right h2{
  font-size: 24px;
  font-weight: 600;
  color: #353535;
}

.right-top{
  margin-bottom: 20px;
}

.right-top p{
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.input-div{
  margin-bottom: 100px;
}

.inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.pin-input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
}

.pin-input.active{
  border: 1px solid #E6E6E6;
}

.pin-input:focus {
  border: 1px solid #CC33CC;
  outline: none;
}

.alert{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
  display: none;
}

.alert p{
  font-size: 10px;
  font-weight: 400;
  color: #C91301;
}

.right-bottom{
  width: 100%;
}

.right-bottom p{
  font-size: 16px;
  font-weight: 400;
  color: #666666B2;
}

.resend a{
  color: #CC33CC;
  cursor: pointer;
}

.button{
  padding: 12px 16px;
  width: 100%;
  background-color: #CC33CC;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  margin-top: 30px;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.check img{
  width: 150px;
}

.email{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
  width: 100%;
}

.email input{
  border: 1px solid #CC33CC;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

.email input:focus{
  border: 2px solid #CC33CC;
  outline: none;
}

.login{
  font-size: 14px;
}

.reset{
  width: 70%;
}

.right-bottom h3{
  color: #808080;
  font-size: 20px;
  font-weight: 600;
}

.asteriks{
  color: #C91301;
}

.input-holder{
  width: 100%;
  position: relative;
}

.input-holder i{
  position: absolute;
  right: 5%;
  top: 30%;
  cursor: pointer;
  width: 1px;
}

/* responsiveness style for mobile */
@media (max-width: 900px) {
 .left{
  display: none;
 }

 .right{
  background: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
} 

.right > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: 4px;
  width: 100%;
}

.input-div{
  margin-bottom: 10px;
}

.pin-input{
  width: 40px;
  height: 40px;
}

 .flyover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 145px;
  margin-bottom: -30px;
 }

 .mobile-logo{
  width: 161px;
  height: 30px;
  margin-bottom: -30px;
 }

 .mobile{
  display: flex;
  position: fixed;
  bottom: 20px;
  padding: 0 20px;
 }

 .mobile p{
  font-size: 12px;
 }
}